.paginate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.paginate span{
  margin: 0 10px;
}

.paginate button{
  padding: 0.5rem 1rem;
  border: none;
  background: #6e6e6e;
  cursor: pointer;
  outline: none;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: bold;
}
.paginate button:hover{
  background: #313131;
  font-weight: bold;
}

.btn__previous{
  margin-right: 10px;
}

.btn__next{
  margin-left: 10px;
}
